{% extends 'base.html.twig' %}

{% block title %}Hello AgentController!
{% endblock %}

{% block body %}
	<style>
		@page {
			margin: 0.31496062992126in 0.39370078740157in 0.23622047244094in;
		}
		body {
			margin: 0.31496062992126in 0.39370078740157in 0.23622047244094in;
		}
	</style>
	{{ form_start (form)}}
	<center>
		{# <form autocomplete="off" id="formModifTech" name="formModifTech" method="post" action="insertModifTech.php"> #}
		<table border="0" cellpadding="0" cellspacing="0" id="sheet0" class="sheet0">
			<col class="col0">
			<col class="col1">
			<col class="col2">
			<col class="col3">
			<col class="col4">
			<col class="col5">
			<col class="col6">
			<col class="col7">
			<col class="col8">
			<col class="col9">
			<col class="col10">
			<tbody>
				<tr class="row0">
					<td class="column0 style1 null"></td>
					<td class="column1 style65 s style65" colspan="9">AJOUTER UN AGENT</td>
					<td class="column10"></td>
				</tr>
				<tr class="row1">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
				<tr class="row2">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
				<tr class="row3">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
				<tr class="row4">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
				<tr class="row5">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
				<tr class="row6">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
				<tr class="row7">
					<td class="column0 ModifT" colspan="2">NOM Prénom : &nbsp;</td>
					<td class="column1" colspan="4">
						{{ form_widget(form.nomPrenom) }}
						{# <input placeholder='DUPONT Jean' name="nom_prenom" class="form-control nom_prenom" id="nom_prenom" type="text" style="text-align:center;" required/> #}
					</td>
					<td class="column2"></td>
					<td class="column3 ModifT" colspan="2">Identifiant :
					</td>
					<td class="column4" colspan="3">
						{{ form_widget(form.identifiant) }}
						{# <input placeholder='20110' name="identifiant" class="form-control identifiant" id="identifiant" type="text" style="text-align:center;" maxlength="5" required/> #}
					</td>
				</tr>
				<tr class="row8">
					<td class="column0 ModifT" colspan="2">Mail : &nbsp;</td>
					<td class="column1" colspan="4">
						{{ form_widget(form.email) }}
						{# <input placeholder='@' name="mail" class="form-control mail" id="mail" type="mail" style="text-align:center;" required/></td> #}
					</td>
					<td class="column2"></td>
					<td class="column3 ModifT" colspan="2">Trigramme :
					</td>
					<td class="column4" colspan="3">
						{{ form_widget(form.trigramme) }}
						{# <input placeholder='JDU' name="trigramme" class="form-control trigramme" id="trigramme" type="text" style="text-align:center;" maxlength="3" required/></td> #}
					</td>
				</tr>
				<tr class="row9">
					<td class="column0 ModifT" colspan="2">Choisir un profil : &nbsp;</td>
					<td class="column1" colspan="4">
						{{ form_widget(form.profil) }}
						{# <select name="id_profil" class="form-control id_profil" id="id_profil" required/>
																																															<option value="" class="ModifT">
																																																Profil
																																															</option>
																																															<option value="1">Agent</option>
																																															<option value="2">Responsable de service
																																															</option>
																																															<option value="3">Direction</option>
																																															<option value="4">RH</option> #}
					</td>
				</tr>
			</tbody>
		</select>
	</td>
</tr>
<tr class="row10">
	<td class="column0"></td>
	<td class="column1"></td>
	<td class="column2"></td>
	<td class="column3"></td>
	<td class="column4"></td>
	<td class="column5"></td>
	<td class="column6"></td>
	<td class="column7"></td>
	<td class="column8"></td>
	<td class="column9"></td>
	<td class="column10"></td>
</tr>
<tr class="row11">
	<td class="column0"></td>
	<td class="column1"></td>
	<td class="column2"></td>
	<td class="column3"></td>
	<td class="column4"></td>
	<td class="column5"></td>
	<td class="column6"></td>
	<td class="column7"></td>
	<td class="column8"></td>
	<td class="column9"></td>
	<td class="column10"></td>
</tr>
<tr class="row12">
	<td class="column0"></td>
	<td class="column1"></td>
	<td class="column2"></td>
	<td class="column3"></td>
	<td class="column4"></td>
	<td class="column5"></td>
	<td class="column6"></td>
	<td class="column7"></td>
	<td class="column8"></td>
	<td class="column9"></td>
	<td class="column10"></td>
</tr>
<tr class="row13">
	<td class="column0"></td>
	<td class="column1"></td>
	<td class="column2"></td>
	<td class="column3"></td>
	<td class="column4"></td>
	<td class="column5"></td>
	<td class="column6"></td>
	<td class="column7"></td>
	<td class="column8"></td>
	<td class="column9"></td>
	<td class="column10"></td>
</tr>
<tr class="row14">
	<td class="column0"></td>
	<td class="column1"></td>
	<td class="column2"></td>
	<td class="column3"></td>
	<td class="column4"></td>
	<td class="column5"></td>
	<td class="column6"></td>
	<td class="column7"></td>
	<td class="column8"></td>
	<td class="column9"></td>
	<td class="column10"></td>
</tr>
<tr class="row30">
	<td class="column0"></td>
	<td class="column1"></td>
	<td class="column2"></td>
	<td class="column3"></td>
	<td class="column4"></td>
	<td class="column5"></td>
	<td class="column6"></td>
	<td class="column7"></td>
	<td class="column8"></td>
	<td class="column9"></td>
	<td class="column10"></td>
</tr></tbody></table><a class="btn btn-outline-danger  btn-lg" href="{{ path('rh.gestion') }}" role="button">Retour</a>{{ form_widget(form.save, { 'label': 'Ajouter' }) }}{# <input type="button" name="Retour" id="ButtonModifTech" class="btn btn-outline-danger" value="Retour" onclick="javascript:location.href='gestionHabilitation.php'"/> #}{# <input type="submit" name="AjouterP" class="btn btn-outline-primary profilHab" value="Ajouter"> </form>#}{{ form_end (form)}}</center>{% endblock %}
