{% extends 'base.html.twig' %}

{% block title %}Hello AgentController!
{% endblock %}

{% block body %}
	<style>
@page { margin-left: 0.39370078740157in; margin-right: 0.39370078740157in; margin-top: 0.31496062992126in; margin-bottom: 0.23622047244094in; }
body { margin-left: 0.39370078740157in; margin-right: 0.39370078740157in; margin-top: 0.31496062992126in; margin-bottom: 0.23622047244094in; }
</style>
<center>
    <table border="0" cellpadding="0" cellspacing="0" id="sheet0" class="sheet0">
        <col class="col0">
        <col class="col1">
        <col class="col2">
        <col class="col3">
        <col class="col4">
        <col class="col5">
        <col class="col6">
        <col class="col7">
        <col class="col8">
        <col class="col9">
        <col class="col10">
        <tbody>
          <tr class="row0">
            <td class="column0 style1 null">
 <!-- <div style="position: relative;"><img style="position: absolute; z-index: 1; left: 0px; top: -33px; width: 106px; height: 78px;" src="img/logo.png" border="0" /></div></td>  -->
            <td class="column1 style65 s style65" colspan="9">MENU AGENT</td>
            <td class="column10">&nbsp;</td>
          </tr>
          <tr class="row1">
		  	<td class="column0"></td>
            <td class="column1"></td>
            <td class="column2"></td>
            <td class="column3"></td>
            <td class="column4"></td>
            <td class="column5"></td>
            <td class="column6"></td>
            <td class="column7"></td>
            <td class="column8"></td>
            <td class="column9"></td>
            <td class="column10"></td>
          </tr>
		  <tr class="row2">
		  	<td class="column0"></td>
            <td class="column1"></td>
            <td class="column2"></td>
            <td class="column3"></td>
            <td class="column4"></td>
            <td class="column5"></td>
            <td class="column6"></td>
            <td class="column7"></td>
            <td class="column8"></td>
            <td class="column9"></td>
            <td class="column10"></td>
          </tr>
          <tr class="row3">
		  	<td class="column0"></td>
            <td class="column1"></td>
            <td class="column2"></td>
            <td class="column3"></td>
            <td class="column4"></td>
            <td class="column5"></td>
            <td class="column6"></td>
            <td class="column7"></td>
            <td class="column8"></td>
            <td class="column9"></td>
            <td class="column10"></td>
          </tr>
          <tr class="row4">
		  	<td class="column0"></td>
            <td class="column1"></td>
            <td class="column2"></td>
            <td class="column3"></td>
            <td class="column4"></td>
            <td class="column5"></td>
            <td class="column6"></td>
            <td class="column7"></td>
            <td class="column8"></td>
            <td class="column9"></td>
            <td class="column10"></td>
          </tr>
		  <tr class="row5">
			<td class="column0"></td>
			<td class="column1 ModifT" colspan=4>
            	<a href="{{ path('demande.liste', {act: 'red'}) }}"><img class="Menu" src="{{ asset('img/Liste.png') }}" height="100" width="100" /></a><br />
				Liste des demandes <br /> en cours de rédaction
			</td>
			<td class="column2 ModifT" colspan=4>
				<a href="{{ path('demande.liste', {act: 'att'}) }}"><img class="Menu" src="{{ asset('img/Liste.png') }}" width="100" height="100" /></a><br />
				Liste des demandes <br /> en attente
			</td>
			<td class="column3 ModifT" colspan=3>
				<a href="{{ path('demande.liste', {act: 'env'}) }}"><img class="Menu" src="{{ asset('img/Liste.png') }}" height="100" width="100" /></a><br />
				Liste des demandes <br /> envoyées à la CPAM 77
			</td>
		  </tr>
          <tr class="row6">
		  	<td class="column0"></td>
            <td class="column1"></td>
            <td class="column2"></td>
            <td class="column3"></td>
            <td class="column4"></td>
            <td class="column5"></td>
            <td class="column6"></td>
            <td class="column7"></td>
            <td class="column8"></td>
            <td class="column9"></td>
            <td class="column10"></td>
          </tr>
          <tr class="row7">
			<td class="column0"></td>
			<td class="column1 ModifT" colspan=4>
				<a href="{{ path('demande.liste', {act: 'rectif'}) }}"><img class="Menu" src="{{ asset('img/Liste.png') }}" height="100" width="100" /></a><br />
				Liste des demandes <br /> en attente de rectification
			</td>
		  </tr>
          <tr class="row8">
		  	<td class="column0"></td>
            <td class="column1"></td>
            <td class="column2"></td>
            <td class="column3"></td>
            <td class="column4"></td>
            <td class="column5"></td>
            <td class="column6"></td>
            <td class="column7"></td>
            <td class="column8"></td>
            <td class="column9"></td>
            <td class="column10"></td>
          </tr>
		</tbody>
	</table>
	{# <input type="button" name="Retour" id="ButtonModifTech" class="btn btn-outline-danger" value="Retour" onclick="javascript:location.href='menuAgent.php'" /> #}
	<a class="btn btn-outline-danger  btn-lg" href="{{ path('agent.menu') }}" role="button">Retour</a>		
   </center>

{% endblock %}
