{% extends 'base.html.twig' %}
{% block body %}
	<style>
		@page {
			margin: 0.31496062992126in 0.39370078740157in 0.23622047244094in;
		}
		body {
			margin: 0.31496062992126in 0.39370078740157in 0.23622047244094in;
		}
	</style>
	<center>
		<table border="0" cellpadding="0" cellspacing="0" id="sheet0" class="sheet0">
			<col class="col0">
			<col class="col1">
			<col class="col2">
			<col class="col3">
			<col class="col4">
			<col class="col5">
			<col class="col6">
			<col class="col7">
			<col class="col8">
			<col class="col9">
			<col class="col10">
			<tbody>
				<tr class="row0">
					<td
						class="column0 style1 null"><!-- <div style="position: relative;"><img style="position: absolute; z-index: 1; left: 0px; top: -33px; width: 106px; height: 78px;" src="img/logo.png" border="0" /></div></td>  -->
					</td>
					<td class="column1 style65 s style65" colspan="9">MENU AGENT</td>
					<td id="VersionMenu" class="column10">V2.4</td>
				</tr>
				<tr class="row1">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
				<tr class="row2">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
				<tr class="row3">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
				<tr class="row4">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
				<tr class="row5">
					<td class="column0"></td>
					<td class="column1 ModifT" colspan="4">
						<a href="astreinte.php"><img class="Menu" src="{{ asset('img/creation.png') }}" height="100" width="100"/></a><br/>
						Création d’une demande
						<br/>
						d'astreinte
					</td>

					<td class="column2 ModifT" colspan="4">
						<a href="{{ path ('demande.nouvelle.hs') }}"><img class="Menu" src="{{ asset('img/creation.png') }}" height="100" width="100"/></a><br/>Création d’une demande
						<br/>d'HS</td>
					<td class="column3 ModifT" colspan="3">
						<a href="historiqueD.php?id=1&num=1"><img class="Menu" src="{{ asset('img/Liste.png') }}" width="100" height="100"/></a><br/>Historique des demandes</td>

					<br/>&nbsp;&nbsp;</tr>

				<tr class="row6">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
				<tr class="row7">
					<td class="column0"></td>
					<td class="column1 ModifT" colspan="4">
						<a href="{{ path ('agent.liste') }}"><img class="Menu" src="{{ asset('img/Liste.png') }}" width="100" height="100"/></a><br/>Liste des demandes</td>
					<td class="column2 ModifT" colspan="4">
						<a href="rechercheD.php?id=1&num=1&Serv='0'&Stat='0'"><img class="Menu" src="{{ asset('img/loupe.png') }}" width="100" height="100"/></a><br/>Recherche</td>
					<td class="column3 ModifT" colspan="3">
						<a href="https://...........fr/publication/depot/Avenant-Astreintes.pdf" target="_blank"><img class="Menu" src="{{ asset('img/Liste.png') }}" width="100" height="100"/></a><br/>Protocole d’astreinte</td>
				</tr>
				<tr class="row8">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
				<tr class="row9">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
				<tr class="row10">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
			</tbody>
		</table>
		{% if app.user.profil.id == 2  %}
			<input type="button" name="Retour" id="ButtonModifTech" class="btn btn-outline-danger" value="Retour" onclick="javascript:location.href='menuResponsable.php'"/>
		{% elseif app.user.profil.id == 3 %}
			<input type="button" name="Retour" id="ButtonModifTech" class="btn btn-outline-danger" value="Retour" onclick="javascript:location.href='menuDirection.php'"/>
		{% elseif app.user.profil.id == 4 %}
			<a class="btn btn-outline-danger  btn-lg" href="{{ path('rh.menu') }}" role="button">Retour</a>
		{% endif %}
	</center>
{% endblock %}
