{% extends 'base.html.twig' %}
{% block title %}Hello AgentController!
{% endblock %}
{% block body %}

	<style>
		@page {
			margin: 0.31496062992126in 0.39370078740157in 0.23622047244094in;
		}
		body {
			margin: 0.31496062992126in 0.39370078740157in 0.23622047244094in;
		}
	</style>
	{{ form_start (form)}}
	<center>
		<table border="0" cellpadding="0" cellspacing="0" id="sheet0" class="sheet0">
			<col class="col0">
			<col class="col1">
			<col class="col2">
			<col class="col3">
			<col class="col4">
			<col class="col5">
			<col class="col6">
			<col class="col7">
			<col class="col8">
			<col class="col9">
			<col class="col10">
			<tbody>
				<tr class="row0">
					<td class="column0 style1 null"></td>
					<td class="column1 style65 s style65" colspan="9">MODIFIER UN AGENT</td>
					<td class="column10"></td>
				</tr>
				<tr class="row1">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
				<tr class="row2">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
				<tr class="row3">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
				<tr class="row4">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
				<tr class="row5">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
				<tr class="row6">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
				<tr class="row7">
					<td class="column0 ModifT" colspan="2">Choisir l'agent à modifier :
					</td>
					<td
						class="column1" colspan="4">
						<!-- Recupere données bdd de la table personne -->
						<select name="personneModif" id="personneModif" class="form-control" onchange="location = this.value;">
							{% for personne in personnes %}
								{% if personne.id ==  app.request.query.get('id') %}
									<option value="{{ path('agent.modifier', {id :personne.id })}}" selected>{{ personne.nomPrenom }}
									</option>
								{% else %}
									<option value="{{ path('agent.modifier', {id :personne.id })}}">{{ personne.nomPrenom }}
									</option>
								{% endif %}
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr class="row8">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>

				<!-- Recupere les données bdd de la table personne par rapport à la personne choisie -->

				{# <input type="hidden" name="id_ModifP" value="{{app.request.query.get('id')}}"/> #}
				<tr class="row9">
					<td class="column0 ModifT" colspan="2">NOM Prénom : &nbsp;</td>
					<td class="column1" colspan="4">{{ form_widget(form.nomPrenom) }}</td>
					<td class="column2"></td>
					<td class="column3 ModifT" colspan="2">Identifiant : &nbsp;</td>
					<td class="column4" colspan="3">{{ form_widget(form.identifiant) }}</td>
				</tr>
				<tr class="row10">
					<td class="column0 ModifT" colspan="2">Mail : &nbsp;</td>
					<td class="column1" colspan="4">{{ form_widget(form.email) }}</td>
					<td class="column2"></td>
					<td class="column3 ModifT" colspan="2">Trigramme :
					</td>
					<td class="column4" colspan="3">{{ form_widget(form.trigramme) }}</td>
				</tr>
				<tr class="row11">
					<td class="column0 ModifT" colspan="2">Profil : &nbsp;</td>
					<td class="column1" colspan="4">{{ form_widget(form.profil) }}</td>
					<td class="column3" colspan="6"></td>
				</tr>
				<tr class="row12">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
				<tr class="row13">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
				<tr class="row14">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
				<tr class="row30">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
			</tbody>
		</table>

		<a class="btn btn-outline-danger  btn-lg" href="{{ path('rh.gestion') }}" role="button">Retour</a>
		{{ form_widget(form.save, { 'label': 'Modifier' }) }}


	</center>
	{{ form_end (form)}}
{% endblock %}
