{% extends 'base.html.twig' %}

{% block title %}Hello DemandeController!
{% endblock %}

{% block body %}
	<script type="text/javascript">
		// Initialisation JQUERY
$(document).ready(function () {
// dateTraitement = '';
// Site Boostrap datePicker
// https://bootstrap-datepicker.readthedocs.io/en/latest/options.html

$('.date_deb').datepicker({
maxViewMode: 2,
language: "fr",
orientation: "bottom left",
// daysOfWeekDisabled: "0",
calendarWeeks: true,
todayHighlight: true,
autoclose: true
});

$('.date_fin').datepicker({
maxViewMode: 2,
language: "fr",
orientation: "bottom left",
// daysOfWeekDisabled: "0",
calendarWeeks: true,
todayHighlight: true,
autoclose: true
});

$('.date_prev').datepicker({
maxViewMode: 2,
language: "fr",
orientation: "bottom left",
// daysOfWeekDisabled: "0",
calendarWeeks: true,
todayHighlight: true,
autoclose: true
});

$('.mois_annee').datepicker({
maxViewMode: 2,
ViewMode: "months",
minViewMode: "months",
language: "fr",
orientation: "bottom left",
// daysOfWeekDisabled: "0",
format: 'mm/yyyy',
autoclose: true
});


// Permet de désactiver touche entrée / évite l'envoi du formulaire //
function refuserToucheEntree(event) { // Compatibilité IE / Firefox
if (! event && window.event) {
event = window.event;
}
// IE
if (event.keyCode == 13) {
event.returnValue = false;
event.cancelBubble = true;
}
// DOM
if (event.which == 13) {
event.preventDefault();
event.stopPropagation();
}
}


// Permet de changer l'ordre de la date
function mefDate(laDate) {
elements = laDate.split('/');
return Date.UTC(elements[2], elements[1] - 1, elements[0]);
}

$('.date_deb').change(function () {
debutSaisi = mefDate($(this).val());
from = mefDate($(this).val());

var ligne = $(this).attr('id');
var lig = ligne.substr(8, 2);

document.getElementById('date_fin' + lig).required = true;
document.getElementById('date_prev' + lig).required = true;
document.getElementById('heure_fin' + lig).required = true;
document.getElementById('heure_deb' + lig).required = true;
document.getElementById('primep' + lig).required = true;
});

// verification - La date de fin doit être supérieure à la date de début
$('.date_fin').change(function () {
to = mefDate($(this).val());
if (from > to) {
alert('Date de fin incorrecte !');
this.value = '';
}
});


// Contrainte champs "urgent" - calcul nombre de jours entre deux dates
$('.date_prev').change(function () {
var finSaisi = mefDate($(this).val());
var deb = new Date(debutSaisi);
var fin = new Date(finSaisi);
// Si l'agent est prévenu plus de 3 jours avant le début ce n'est pas urgent
var diff = (deb - fin) / 86400000;
if (diff > 3) {
var ligne = $(this).attr('id');
var lig = ligne.substr(9, 2);
$('#urgent' + lig).attr('value', 'Non');
$("#total1" + lig).text('Non');
}
if (diff < 0) {
alert('Date de prévenance incorrecte !');
this.value = '';
}
if (diff <= 3) {
var ligne = $(this).attr('id');
var lig = ligne.substr(9, 2);
$('#urgent' + lig).attr('value', 'Oui');
$("#total1" + lig).text('Oui');
}
});


// verification - l'heure de fin doit être supérieure à l'heure de début pour une même date ****
$('.heure_deb').change(function () {
heureDeb = $(this).val();
});

$('.heure_fin').change(function () {
var heureFin = $(this).val();
var debb = new Date(from);
var finn = new Date(to);
var supp = (finn - debb) / 86400000;
if (supp == 0) { // ****
if (heureDeb > heureFin) {
alert('Heure de fin incorrecte !');
this.value = '';
}
}
});

// Contrainte champs "prime panier"
// $('.heure_fin').change(function() {
// var heureFin = $(this).val();
// var debb = new Date(from);
// var finn = new Date(to);
// var supp = (finn - debb) / 86400000;
// if(supp == 0) // ****
// {
// if(heureDeb > heureFin)
// {
// alert('Heure de fin incorrecte !');
// }
// }
// if(supp >= 1)
// {
// var ligne = $(this).attr('id');
// var lig = ligne.substr(9, 2);
// $('#primep'+lig).attr('value','Oui');
// $("#total2"+lig).text('Oui');
// }
// if(supp == 0)
// {
// if((heureFin >= '20:00') && (heureFin <= '23:59') || (heureFin <= '00:00'))
// {
// var ligne = $(this).attr('id');
// var lig = ligne.substr(9, 2);
// $('#primep'+lig).attr('value','Oui');
// $("#total2"+lig).text('Oui');
// }
// else
// {
// var ligne = $(this).attr('id');
// var lig = ligne.substr(9, 2);
// $('#primep'+lig).attr('value','Non');
// $("#total2"+lig).text('Non');
// }
// }
// });

});
	</script>

	<style>
		@page {
			margin: 0.31496062992126in 0.39370078740157in 0.23622047244094in;
		}
		body {
			margin: 0.31496062992126in 0.39370078740157in 0.23622047244094in;
		}
	</style>
	<center>
		<form autocomplete="off" id="formHs" name="formHs" method="post" action="insertHs.php">
			<table border="0" cellpadding="0" cellspacing="0" id="sheet0" class="sheet0">
				<col class="col0">
				<col class="col1">
				<col class="col2">
				<col class="col3">
				<col class="col4">
				<col class="col5">
				<col class="col6">
				<col class="col7">
				<col class="col8">
				<col class="col9">
				<col class="col10">
				<tbody>
					<tr class="row0">
						<td class="column0 style1 null">
							<div style="position: relative;"><img style="position: absolute; z-index: 1; left: 0px; top: -33px; width: 136px; height: 95px;" src="{{ asset('img/logo.png') }}" border="0"/></div>
						</td>
						<td class="column1 style65 s style65" colspan="9">DEMANDE DE PAIEMENT DES HEURES SUPPLÉMENTAIRES
						</td>
						<td class="column10">&nbsp;</td>
					</tr>
					<tr class="row1">
						<td class="column0 style1 null"></td>
						<td class="column1 style16 null"></td>
						<td class="column2 style16 null"></td>
						<td class="column3 style16 null"></td>
						<td class="column4 style16 null"></td>
						<td class="column5 style16 null"></td>
						<td class="column6 style16 null"></td>
						<td class="column7 style21 null"></td>
						<td class="column8 style28 null"></td>
						<td class="column9 style16 null"></td>
						<td class="column10">&nbsp;</td>
					</tr>
					<tr class="row2">
						<td class="column0">&nbsp;</td>
						<td class="column1">&nbsp;</td>
						<td class="column2">&nbsp;</td>
						<td class="column3">&nbsp;</td>
						<td class="column4">&nbsp;</td>
						<td class="column5">&nbsp;</td>
						<td class="column6">&nbsp;</td>
						<td class="column7">&nbsp;</td>
						<td class="column8">&nbsp;</td>
						<td class="column9">&nbsp;</td>
						<td class="column10">&nbsp;</td>
					</tr>
					{% set col = 5 %}
					{% for avoir in app.user.avoirs %}
						{% if 1 == avoir.role.id %}
							{% if 5 == avoir.service.id %}
								{% set col = 6 %}
							{% endif  %}
						{% endif  %}
					{% endfor %}
					
					<tr class="row3">
						<td class="column0 style77 s style78" colspan="5">AGENT - Nom Prénom</td>
						<td class="column1 HsClé">N° agent</td>
						<td class="column2 style68 s style70" colspan="{{ col }}">MOIS / ANNEE</td>
					</tr>
					<!-- Agent Nom - Prenom N°+Cle -->
					<tr class="row4">
						<td class="column0 HsNom" colspan="5">{{app.user.nomPrenom }}</td>
						<td class="column1">{{app.user.identifiant }}</td>
						<!-- Mois Année -->
						<td class="column2 style79 null style81" colspan="{{ col }}">
							<input required name="mois_annee" style="margin:auto; text-align:center; width:90px;" class="form-control mois_annee" id="mois_annee" type="text"/></td>
					</tr>
					<tr class="row5">
						<td class="column0 HsRef" colspan="{{ col }}">Référence N° :&nbsp;{{ reference }}</td>
						<!-- Mois Année -->
						<td class="column1 HsStatut" colspan="6">Statut : Rédaction en cours</td>
					</tr>
					<tr class="row6">
						<td class="column0 style8">Date début</td>
						<td class="column1 style8">heure début</td>
						<td class="column2 style8">Date fin</td>
						<td class="column3 style8">heure fin</td>
						<td class="column4 style71 s style73" colspan="4">Motif</td>
						<td class="column5 style25 s">Date de prévenance
						</td>
						<td class="column6 style26 s">Urgent</td>
						<td class="column7 style25 s">Prime de Panier
						</td>
			{% if col == 6 %}
							<td class="column7 style25 s">Appel au cadre</td>
							{% endif %}
					</tr>

					<?php
          $nbrLigne=20;
          for ($i=0; $i < $nbrLigne ; $i++) { 
                ?>
						<!-- date de début -->
						<tr class="row7">
							<td style="width:100px;" class="column0 style5 null">
								<input type="text" class="form-control date_deb" id="date_deb<?php echo $i; ?>" name="date_deb[]" value=""/>
							</td>
							<!-- heure de début -->
							<td class="column1 style56 null style57">
								<input autocomplete="off" name="heure_deb[]" class="form-control heure_deb" id="heure_deb<?php echo $i; ?>" maxlength="5" type="text" placeholder="00:00" onkeypress="verifCaracteres(event); return false;" maxlength="5"/>
							</td>
							<!-- date de fin -->
							<td class="column2 style56 null style57">
								<input autocomplete="off" name="date_fin[]" class="form-control date_fin" id="date_fin<?php echo $i; ?>" type="text"/>
							</td>
							<!-- heure de fin -->
							<td class="column3 style56 null style57">
								<input type="text" name="heure_fin[]" class="form-control heure_fin" id="heure_fin<?php echo $i ; ?>" maxlength="5" placeholder="00:00" onkeypress="refuserToucheEntree(event);"/>
							</td>
							<!-- motif -->
							<td class="column4 style32 null style34" colspan="4">
								<input autocomplete="off" name="motif[]" class="form-control motif" id="motif<?php echo $i ; ?>" type="text" style="text-align:center;" onkeypress="refuserToucheEntree(event);"/>
							</td>
							<!-- date de prevenance -->
							<td class="column5 style27 null" style="width:100px; text-align:center">
								<input type="text" id="date_prev<?php echo $i; ?>" class="form-control date_prev" name="date_prev[]" value=""/>
							</td>
							<!-- urgent oui/non -->
							<td class="column6 style18 null" style="width:80px; text-align:center">
								<select type="text" id="urgent<?php echo $i; ?>" class="form-control urgent" name="urgent[]">
									<option name="total1" id="total1<?php echo $i; ?>"></option>
									<option value="Non">Non</option>
									<option value="Oui">Oui</option>
								</select>
							</td>
							<!-- prime de panier -->
							<td class="column7 style5 null">
								<select
									type="text" id="primep<?php echo $i; ?>" class="form-control primep" name="primep[]">
									<!-- <option name="total2" id="total2 <?php // echo $i; ?>"></option>  -->
									<option></option>
									<option value="Non">Non</option>
									<option value="Oui">Oui</option>
								</select>
							</td>
							<!-- Appel au cadre -->
							
				 			{% if col == 6 %}
								<td class="column8 style5 null">
									<div style="margin-bottom:18px;" class="form-check">
										<input class="form-check-input" value="Oui" type="checkbox" id="appelc<?php echo $i; ?>" name="appelc[<?php echo $i; ?>]">
										<input name="appelc[]" value="" type="hidden">
									</div>
								</td>
							
				  
				  {% else %}
				  				<input type="hidden" name="appelc[]" value="">
					{% endif %}
						</tr>
					


					<!-- récupérer le profil de l'agent pour l'historique -->

					<?php
		  $requete2 = $DB->prepare("SELECT profil.nom_profil FROM profil,personne WHERE profil.id_profil = personne.id_profil 
		  AND personne.nom_prenom = '".$service->nomPrenom."'");
		  $requete2->execute(array());
		  $AfficherProfil = $requete2->fetch();
		  
		  $Obj = 'sans objet';
		  
		  
		  // récupérer les derniere reference Astreinte pour le lien
		  $reqRefLien = $DB->prepare("SELECT astreinte.date_creation,astreinte.reference FROM astreinte,personne WHERE personne.nom_prenom = '".$service->nomPrenom."' 
			AND personne.id_personne = astreinte.id_personne GROUP BY astreinte.reference ORDER by astreinte.date_creation DESC LIMIT 0,10");
		  $reqRefLien->execute(array());
		  ?>

					<tr class="row18">
						<td class="column0"></td>
						<td class="column1"></td>
						<td class="column2"></td>
						<td class="column3"></td>
						<td class="column4"></td>
						<td class="column5"></td>
						<td class="column6"></td>
						<td class="column7"></td>
						<td class="column8"></td>
						<td class="column9"></td>
						<td class="column10"></td>
					</tr>
					<tr class="row19">
						<td class="column1 style76 s style76" colspan="6">*HS Urgente si le délai de prévenance est inférieur à 3 jours ouvrés
							<br/>
							*Prime de panier si l'agent est présent sur site après 20h
						</td>
						<td class="column2 style45 null style45" colspan="4"></td>
						<td class="column10"></td>
					</tr>
					<tr class="row20">
						<td class="column0"></td>
						<td class="column1"></td>
						<td class="column2"></td>
						<td class="column3"></td>
						<td class="column4"></td>
						<td class="column5"></td>
						<td class="column6"></td>
						<td class="column7"></td>
						<td class="column8"></td>
						<td class="column9"></td>
						<td class="column10"></td>
					</tr>
					<tr class="row21">
						<td class="column0" colspan="2"></td>
						<td id="historiqueA" class="column1">
							<div class="custom-control custom-radio">
								<input type="radio" id="customRadio1" value="Payées" name="payee_recup" class="custom-control-input" required/>
								<label class="custom-control-label" for="customRadio1">Payées</label>
							</div>
						</td>
						<td class="column2">
							<div class="custom-control custom-radio">
								<input type="radio" id="customRadio2" value="Récupérées" name="payee_recup" class="custom-control-input" required/>
								<label class="custom-control-label" for="customRadio2">Récupérées</label>
							</div>
						</td>
						<td class="column3">&nbsp;</td>
						<td class="column4">&nbsp;</td>
						<td class="column5">&nbsp;</td>
						<td class="column6">&nbsp;</td>
						<td class="column7">&nbsp;</td>
						<td class="column8">&nbsp;</td>
						<td class="column9">&nbsp;</td>
						<td class="column10">&nbsp;</td>
					</tr>
					<tr class="row22">
						<td class="column0">&nbsp;</td>
						<td class="column1">&nbsp;</td>
						<td class="column2">&nbsp;</td>
						<td class="column3">&nbsp;</td>
						<td class="column4">&nbsp;</td>
						<td class="column5">&nbsp;</td>
						<td class="column6">&nbsp;</td>
						<td class="column7">&nbsp;</td>
						<td class="column8">&nbsp;</td>
						<td class="column9">&nbsp;</td>
						<td class="column10">&nbsp;</td>
					</tr>
					<tr class="row23">
						<td class="column0" colspan="2">&nbsp;</td>

						<!--			<td id="historiqueA" class="column1 style47" colspan="6">
																												Lien avec une autre demande :
																												<select name='lien_d' id='lien_d'>
																												<option value="<?php // echo $Obj; ?>"><?php // echo $Obj; ?></option>
																												<?php // while ($AfficheRefLien = $reqRefLien->fetch())
																													{ 
																													//	$referenceLien = $AfficheRefLien['reference'];
																													?>
																														<option value="<?php // echo $referenceLien; ?>"><?php  // echo $referenceLien; ?></option>
																													<?php
																													}
																													?>
																												</select>
																											</td>
																								-->

						<td class="column2">&nbsp;</td>
						<td class="column3">&nbsp;</td>
						<td class="column4">&nbsp;</td>
						<td class="column5">&nbsp;</td>
						<td class="column6">&nbsp;</td>
						<td class="column7">&nbsp;</td>
						<td class="column8">&nbsp;</td>
						<td class="column9">&nbsp;</td>
						<td class="column10">&nbsp;</td>
					</tr>
					<tr class="row25">
						<td class="column0" colspan="2"></td>
						<td id="historiqueB" class="column1 style47" colspan="6">Historique de la demande</td>
						<td class="column2" colspan="3"></td>
						<td class="column10">&nbsp;</td>
					</tr>
					<tr class="row26">
						<td class="column0" colspan="2"></td>
						<td class="column1" colspan="6">&nbsp;</td>
						<td class="column2" colspan="3">&nbsp;</td>
						<td class="column10">&nbsp;</td>
					</tr>
					<tr class="row27">
						<td class="column0" colspan="2"></td>
						<td id="historiqueA" class="column1 style47" colspan="1">Date</td>
						<td id="historiqueC" class="column2 style47" colspan="3">Acteur</td>
						<td class="column3 style47" colspan="2">Profil</td>
						<td class="column4 style47" colspan="2">Action</td>
						<td class="column10">&nbsp;</td>
					</tr>
					<tr class="row28">
						<td class="column0" colspan="2"></td>
						<td class="column1 hist1" colspan="1">{{ "now"|date("d/m/Y") }}</td>
						<td class="column2 hist2" colspan="3">{{ app.user.nomPrenom }}</td>
						<td class="column3 histo" colspan="2">{{ app.user.profil.nom }}&nbsp;&nbsp;</td>
						<td class="column4 histo" colspan="2">Création</td>
						<td class="column10">&nbsp;</td>
					</tr>
					<tr class="row29">
						<td class="column0"></td>
						<td class="column1"></td>
						<td class="column2">&nbsp;</td>
						<td class="column3">&nbsp;</td>
						<td class="column4">&nbsp;</td>
						<td class="column5">&nbsp;</td>
						<td class="column6">&nbsp;</td>
						<td class="column7">&nbsp;</td>
						<td class="column8">&nbsp;</td>
						<td class="column9">&nbsp;</td>
						<td class="column10">&nbsp;</td>
					</tr>
					<tr class="row29">
						<td class="column0">&nbsp;</td>
						<td class="column1">&nbsp;</td>
						<td class="column2">&nbsp;</td>
						<td class="column3">&nbsp;</td>
						<td class="column4">&nbsp;</td>
						<td class="column5">&nbsp;</td>
						<td class="column6">&nbsp;</td>
						<td class="column7">&nbsp;</td>
						<td class="column8">&nbsp;</td>
						<td class="column9">&nbsp;</td>
						<td class="column10">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			<input type="button" data-toggle="modal" data-target="#AnnulerModal" name="annuler" id="ButtonAstreinte" class="btn btn-outline-danger" value="Annuler">
			<input type="button" data-toggle="modal" data-target="#AbandonnerModal" name="abandonner" id="ButtonAstreinte" class="btn btn-outline-danger" value="Abandonner">
			<input type="submit" name="enregistrer" id="ButtonAstreinte" class="btn btn-outline-primary" value="Enregistrer">
			<input
			type="submit" name="envoyer" id="ButtonAstreinte" class="btn btn-outline-primary" value="Envoyer">


			<!-- Modal Annuler -->
			<div class="modal fade" id="AnnulerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Annuler la saisie</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<p>Toutes les saisies effectuées seront annulées.</p>
							<p>Souhaitez-vous effectuer cette action ?
							</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-outline-danger purgeB" data-dismiss="modal">Non</button>
							<button type="button" onclick="window.location.href='menuAgent.php'" ; class="btn btn-outline-primary purgeB">Oui</button>
						</div>
					</div>
				</div>
			</div>
			<!-- Modal Abandonner -->
			<div class="modal fade" id="AbandonnerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Abandonner la demande</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<p>L’abandon de la demande est définitif</p>
							<p>Souhaitez-vous effectuer cette action ?
							</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-outline-danger purgeB" data-dismiss="modal">Non</button>
							<button type="button" onclick="window.location.href='menuAgent.php'" ; class="btn btn-outline-primary purgeB">Oui</button>
						</div>
					</div>
				</div>
			</div>

			<!-- Recupere Id de l'agent et service -->
			<?php
    $req2 = $DB->prepare("SELECT * FROM personne,avoir,role WHERE personne.nom_prenom = '".$service->nomPrenom."'
		AND avoir.id_personne = personne.id_personne AND avoir.id_r = role.id_r AND role.id_r = '1'");
    $req2->execute(array());
    $AfficherIdP = $req2->fetch();
    $id_personne = $AfficherIdP['id_personne'];
	$id_service_agent = $AfficherIdP['id_s'];

	?>

			<!-- Insertion des données dans la BDD après validation -->
			<input type="hidden" name="date_creation" value="<?php echo $today ; ?>">
			<input type="hidden" name="id_personne" value="<?php echo $id_personne ; ?>">
			<input type="hidden" name="reference" value="<?php echo $reference ; ?>">
			<input type="hidden" name="profilAgent" value="<?php echo $AfficherProfil['nom_profil']; ?>">
			<input type="hidden" name="NomActeur" value="<?php echo $AfficheProfil['nom_prenom']; ?>">
			<input type="hidden" name="id_service_agent" value="<?php echo $id_service_agent; ?>">
		</form>

	</center>
	<br>
</body>

<script type="text/javascript" src="clockpicker/dist/bootstrap-clockpicker.js"></script>
<link rel="stylesheet" type="text/css" href="clockpicker/dist/bootstrap-clockpicker.css">
<script type="text/javascript">

	// TimePicker
var input = $('.heure_fin').clockpicker({placement: 'bottom', align: 'left', autoclose: true, 'default': 'now'});

var input = $('.heure_deb').clockpicker({placement: 'bottom', align: 'left', autoclose: true, 'default': 'now'});
</script>{% endblock %}
