{% extends 'base.html.twig' %}
{% block body %}

<style>
	@page {
		margin: 0.31496062992126in 0.39370078740157in 0.23622047244094in;
	}
	body {
		margin: 0.31496062992126in 0.39370078740157in 0.23622047244094in;
	}
</style>
<center>
	<table border="0" cellpadding="0" cellspacing="0" id="sheet0" class="sheet0">
		<col class="col0">
		<col class="col1">
		<col class="col2">
		<col class="col3">
		<col class="col4">
		<col class="col5">
		<col class="col6">
		<col class="col7">
		<col class="col8">
		<col class="col9">
		<col class="col10">
		<tbody>
			<tr class="row0">
				<td class="column0 style1 null"></td>
				<td class="column1 style65 s style65" colspan="9">MENU RESPONSABLE DE SERVICE</td>
				<td id="VersionMenu" class="column10">V2.4</td>
			</tr>
			<tr class="row1">
				<td class="column0"></td>
				<td class="column1"></td>
				<td class="column2"></td>
				<td class="column3"></td>
				<td class="column4"></td>
				<td class="column5"></td>
				<td class="column6"></td>
				<td class="column7"></td>
				<td class="column8"></td>
				<td class="column9"></td>
				<td class="column10"></td>
			</tr>
			<tr class="row2">
				<td class="column0"></td>
				<td class="column1"></td>
				<td class="column2"></td>
				<td class="column3"></td>
				<td class="column4"></td>
				<td class="column5"></td>
				<td class="column6"></td>
				<td class="column7"></td>
				<td class="column8"></td>
				<td class="column9"></td>
				<td class="column10"></td>
			</tr>

			<!-- Verification role de l'agent -->
			<?php
			$RoleP = $DB->prepare("SELECT * FROM profil,personne WHERE personne.id_profil = profil.id_profil 
			AND personne.nom_prenom = '".$service->nomPrenom."'");
			$RoleP->execute(array());
			$AfficheP = $RoleP->fetch();
			$AfficheProfil = $AfficheP['id_profil'];

			if($AfficheProfil == 2 || $AfficheProfil == 3) // Mode test accès : if($AfficheProfil == 2 || $AfficheProfil == 3  || $AfficheProfil == 1)
			{
			?>

				<tr class="row3">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
				<tr class="row4">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
				<tr class="row5">
					<td class="column0"></td>
					<td class="column1 ModifT" colspan="4">
						<a href="listeDemandeR.php?id='0'"><img class="MenuRH2" src="img/Liste.png" height="100" width="100"/></a><br/>
						Liste des demandes</td>
				</tr>
			</br>en attente de validation
		</tbody>
	</td>
	<td class="column2 ModifT" colspan="4">
		<a href="historiqueD.php?id=1&num=2"><img class="MenuRH2" src="img/Liste.png" height="100" width="100"/></a><br/>Historique des demandes
	</td>
</br>
par service</td><td class="column3 ModifT" colspan="4">
<a href="historiqueD.php?id=1&num=3"><img class="MenuRH2" src="img/Liste.png" width="100" height="100"/></a><br/>
Historique des demandes par agent</td></tr><tr class="row6"><td class="column0"></td><td class="column1"></td><td class="column2"></td><td class="column3"></td><td class="column4"></td><td class="column5"></td><td class="column6"></td><td class="column7"></td><td class="column8"></td><td class="column9"></td><td class="column10"></td></tr><tr class="row7"><td class="column0"></td><td class="column1 ModifT" colspan="4">
<a href="menuAgent.php"><img class="MenuRH2" src="img/creation.png" width="100" height="100"/></a><br/>
Menu Agent</td><td class="column2 ModifT" colspan="4">
<a href="rechercheD.php?id=1&num=2&Serv='0'&Stat='0'"><img class="MenuRH2" src="img/loupe.png" width="100" height="100"/></a><br/>
Recherche</td><td class="column3 ModifT" colspan="4">
<a href="ListeResponsabble.php"><img class="Menu" src="img/statistiques.png" width="100" height="100" title="Statistiques"/></a><br/>
Statistiques</td></tr><tr class="row8"><td class="column0"></td><td class="column1"></td><td class="column2"></td><td class="column3"></td><td class="column4"></td><td class="column5"></td><td class="column6"></td><td class="column7"></td><td class="column8"></td><td class="column9"></td><td class="column10"></td></tr><tr class="row9"><td class="column0"></td><td class="column1 ModifT" colspan="4">
<a href="presence.php"><img class="MenuRH2" src="img/creation.png" width="100" height="100"/></a><br/>
Création feuille de présence</td><td class="column2 ModifT" colspan="4">
<a href="liste_presence.php"><img class="MenuRH2" src="img/creation.png" width="100" height="100"/></a><br/>
Modification feuille de présence</td><td class="column3 ModifT" colspan="4">
<a href="historique_presence.php?serv=2"><img class="Menu" src="img/loupe.png" width="100" height="100" title="Statistiques"/></a><br/>
Historique des présences</td></tr><tr class="row10"><td class="column0"></td><td class="column1"></td><td class="column2"></td><td class="column3"></td><td class="column4"></td><td class="column5"></td><td class="column6"></td><td class="column7"></td><td class="column8"></td><td class="column9"></td><td class="column10"></td></tr></tbody></table><?php 

	switch ($AfficheProfil) 
	{
		case 2:
			?><!-- <input type="button" data-toggle="modal" data-target="#QuitterModal" name="Quitter" id="ButtonRH" class="btn btn-outline-danger" value="Quitter" />  --><?php
			break;
		case 3:
			?><input type="button" name="Retour" id="ButtonModifTech" class="btn btn-outline-danger" value="Retour" onclick="javascript:location.href='menuDirection.php'"/><?php
			break;
	}
	
	?><!-- Modal Quitter
					<div class="modal fade" id="QuitterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Quitter</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									  <span aria-hidden="true">&times;</span>
									</button>
								</div>
							    <div class="modal-body">
									<p>Souhaitez-vous effectuer cette action ? </p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-outline-danger purgeB" data-dismiss="modal">Non</button>
									<button type="button" onclick=window.location.href='https://...........fr/'; class="btn btn-outline-primary purgeB">Oui</button>
								</div>
							</div>
						</div>
					</div>
				 --><?php 
			}
			else
			{
			echo "<script>alert(\"Vous n'avez pas les droits pour visualiser cette page\")</script>";
			?>
			<meta http-equiv="refresh" content="0; URL=https://...........fr/">
			<?php
			}
			?>
			
   </center>

	{% endblock %}
