{% extends 'base.html.twig' %}

{% block title %}Ajouter une habilitation
{% endblock %}

{% block body %}
	<style>
		@page {
			margin: 0.31496062992126in 0.39370078740157in 0.23622047244094in;
		}
		body {
			margin: 0.31496062992126in 0.39370078740157in 0.23622047244094in;
		}
	</style>
	<center>
		<table border="0" cellpadding="0" cellspacing="0" id="sheet0" class="sheet0">
			<col class="col0">
			<col class="col1">
			<col class="col2">
			<col class="col3">
			<col class="col4">
			<col class="col5">
			<col class="col6">
			<col class="col7">
			<col class="col8">
			<col class="col9">
			<col class="col10">
			<tbody>
				<tr class="row0">
					<td class="column0 style1 null"></td>
					<td class="column1 style65 s style65" colspan="9">AJOUTER UNE HABILITATION</td>
					<td class="column10"></td>
				</tr>
				<tr class="row1">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
				<tr class="row2">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
				<tr class="row3">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
				<tr class="row4">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
				<tr class="row5">
					<td class="column0 ModifT" colspan="2">Rechercher un agent : &nbsp;</td>
					<td
						class="column1" colspan="4">

						<!-- Recupere données bdd de la table personne -->
						<select name="personneModif" id="personneModif" class="form-control" onchange="location = this.value;">
							<option value=""></option>
							{% for personne in personnes %}
								{% if personne.id ==  app.request.query.get('id') %}
									<option value="{{ path('rh.hab.ajout', {id :personne.id })}}" selected>{{ personne.nomPrenom }}
									</option>
								{% else %}
									<option value="{{ path('rh.hab.ajout', {id :personne.id })}}">{{ personne.nomPrenom }}
									</option>
								{% endif %}
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr class="row6">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>

				<!-- Recupere les données bdd de la table personne par rapport à la personne choisie -->

				<tr class="row7">
					<td class="column0 ModifT" colspan="2">NOM Prénom : &nbsp;</td>
					<td class="column1" colspan="4">{{ form_widget(form.nomPrenom,  {'attr': {'readonly':true}}) }}</td>
					<td class="column2"></td>
					<td class="column3 ModifT" colspan="2">Identifiant :
					</td>
					<td class="column4" colspan="2">{{ form_widget(form.identifiant,  {'attr': {'readonly':true}}) }}</td>
				</tr>
				<tr class="row8">
					<td class="column0 ModifT" colspan="2">Mail : &nbsp;</td>
					<td class="column1" colspan="4">{{ form_widget(form.email,  {'attr': {'readonly':true}}) }}</td>
					<td class="column2"></td>
					<td class="column3 ModifT" colspan="2">Trigramme :
					</td>
					<td class="column4" colspan="2">{{ form_widget(form.trigramme,  {'attr': {'readonly':true}}) }}</td>
				</tr>
				<tr class="row9">
					<td class="column0 ModifT" colspan="2">Profil : &nbsp;</td>
					<td class="column1" colspan="4">{{ form_widget(form.profil,  {'attr': {'disabled':true}}) }}</td>
				</tr>
				{% if form %}
					{% for avoir in form.avoirs %}
						<tr class="row10">
							<td class="column0 ModifT" colspan="2">Rôle et service : &nbsp;</td>
							<td class="column1" colspan="4">{{ form_widget(avoir.fullInfo,  {'attr': {'readonly':true}})}}</td>
						</tr>
					{% endfor %}
				{% endif %}
				{{ form_start(formAvoir)}}
				<tr class="row11">
					<td class="column0" colspan="9"></td>
				</tr>
				<tr class="row12">
					<td class="column0" colspan="12"><hr color="black"></td>
				</tr>
				<tr class="row13">
					<td class="column0"></td>
				</tr>
				<tr class="row14">
					<td id="ModifT" class="column0" colspan="2">Ajouter un rôle : &nbsp;</td>
					<td class="column1" colspan="3">
						{{ form_widget(formAvoir.role) }}
						{# <select name="modifRole" class="form-control modifRole" id="modifRole" required>
																			<option value="" class="ModifT">
																				Rôle
																			</option>
																			<option value="1">Demandeur
																			</option>
																			<option value="2">Valideur</option>
																			<option value="3">Vérificateur</option>
																			<option value="4">Approbateur</option>
																			<option value="5">RH</option>
																		</select> #}
					</td>
					<td class="column2"></td>
					<td id="ModifT" class="column3" colspan="2">Choisir un service : &nbsp;</td>
					<td class="column4" colspan="3">
						{{ form_widget(formAvoir.service) }}
						{# <select name="modifService" class="form-control modifService" id="modifService" required>
																									<option value="">
																										Service
																									</option>
																		
																									{% for service in services %}
																										<option value=" service.id" class="ModifT">{{ service.nom  }}
																										</option>
																		
																									{% endfor %}
																		
																								</select> #}
					</td>
				</tr>
				<tr class="row15">
					<td class="column0"></td>
				</tr>
				<tr class="row16">
					<td class="column0 ButtonModif2" colspan="9"></td>
				</tr>
				<tr class="row17">
					<td class="column0" colspan="9"></td>
				</tr>
				<tr class="row18">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
			</tbody>
		</table>
		<a class="btn btn-outline-danger  btn-lg" href="{{ path('rh.gestion') }}" role="button">Retour</a>
		{{ form_widget(formAvoir.save, { 'label': 'Ajouter' }) }}
		{{ form_end(formAvoir)}}
	</center>

{% endblock %}
