{% extends 'base.html.twig' %}

{% block title %}Ajouter un Service
{% endblock %}

{% block body %}
	<style>
		@page {
			margin: 0.31496062992126in 0.39370078740157in 0.23622047244094in;
		}
		body {
			margin: 0.31496062992126in 0.39370078740157in 0.23622047244094in;
		}
	</style>
	{{ form_start(form)}}
	<center>

		<table border="0" cellpadding="0" cellspacing="0" id="sheet0" class="sheet0">
			<col class="col0">
			<col class="col1">
			<col class="col2">
			<col class="col3">
			<col class="col4">
			<col class="col5">
			<col class="col6">
			<col class="col7">
			<col class="col8">
			<col class="col9">
			<col class="col10">
			<tbody>
				<tr class="row0">
					<td class="column0 style1 null"></td>
					<td class="column1 style65 s style65" colspan="9">AJOUTER / SUPPRIMER UN SERVICE</td>
					<td class="column10"></td>
				</tr>
				<tr class="row1">
					<td class="column0" colspan="9"></td>
				</tr>
				<tr class="row2">
					<td class="column0" colspan="9"></td>
				</tr>
				<tr class="row3">
					<td class="column0" colspan="9"></td>
				</tr>
				<tr class="row4">
					<td class="column0" colspan="9"></td>
				</tr>
				<tr class="row5">
					<td class="column0" colspan="9"></td>
				</tr>
				<tr class="row6">
					<td class="column0 ModifT" colspan="3">Liste des services actuels :
					</td>
					<td class="column1" colspan="4">
						<select name="modifRole" class="form-control modifRole" id="modifRole">

							{% for service in services %}
								<option value="" class="ModifT">{{ service.nom  }}
								</option>

							{% endfor %}
						</select>
					</td>
					<td class="column3" colspan="2"></td>
				</tr>
				<tr class="row7">
					<td class="column0" colspan="9"></td>
				</tr>
				<tr class="row8">
					<td class="column0" colspan="9"><hr color="black"></td>
				</tr>
				<tr class="row9">
					<td class="column0"></td>
				</tr>
				<tr class="row10">
					<td id="ModifT" class="column0" colspan="2">Ajouter un service : &nbsp;</td>
					<td class="column1" colspan="4">
						{{form_widget(form.nom)}}
					</td>
					<td class="column2"></td>
					<td class="column3">
						{{ form_widget(form.save, { 'label': 'Ajouter' }) }}
						{# <input onclick="document.getElementById('nomService').required=true;" type="submit" name="ajouterService" id="modifier" class="btn btn-outline-primary" value="&nbsp; ajouter &nbsp;"> #}
					</td>
				</tr>
				<tr class="row11">
					<td class="column0" colspan="9"></td>
				</tr>
				<tr class="row12">
					<td class="column0" colspan="9"></td>
				</tr>

				<!-- Recupere les données bdd de la table service par rapport au service choisi -->
				<?php
				$reponse3 = $DB->prepare("SELECT * FROM service WHERE service.id_s =".$_GET['id']."");
				$reponse3->execute(array());
				$serviceSupp = $reponse3->fetch();
				
				$id = $_GET['id'];
				?>
				<input name="idServ" value="<?php echo $serviceSupp['id_s']; ?>" class="form-control nomServ" type="hidden">

				<tr class="row13">
					<td id="ModifT" class="column0" colspan="2">Supprimer un service : &nbsp;</td>
					<td class="column1" colspan="4">
						<select name="SuppServ" class="form-control SuppServ" onchange="location = this.value;">
							{% for service in services %}
								{% if service.id ==  app.request.query.get('id') %}
									<option value="{{ path('agent.modifier', {id :service.id })}}" selected>{{ service.nom }}
									</option>
								{% else %}
									<option value="{{ path('agent.modifier', {id :service.id })}}">{{ service.nom }}
									</option>
								{% endif %}
							{% endfor %}
							{# <?php if($id == "'0'")
												{
												?>
															<option class="ModifT">
																Choisir un service à supprimer
															</option>
														<?php
												}
												else
												{
												?>
															<option class="ModifT">
																<?php echo $serviceSupp['nom_service']; ?>
															</option>
															<?php
												}
												
												$reponse2 = $DB->prepare("SELECT * FROM service");
												$reponse2->execute(array());
												while ($donneesA = $reponse2->fetch())
												{
												?>
																<option value="profil.php?id='<?php echo $donneesA['id_s']; ?>'" class="ModifT"><?php echo $donneesA['nom_service']; ?></option>
															<?php
											}
											?> #}
						</select>
					</td>
				</tr>
			</tbody>
		</td>
		<td class="column2"></td>
		<td class="column3">
			<button <?php if($id == "'0'") {?> disabled="disabled" ; <?php } ?> id="modifier" type="button" data-toggle="modal" data-target="#SuppService" name="SuppService" class="btn btn-outline-primary">Supprimer</button>
		</td>
	</tr>
	{# <!-- Modal supprimer ---> #}
	{# <div class="modal fade" id="SuppService" tabindex="-1" role="dialog" aria-labelledby="SuppService" aria-hidden="true">
																						<div class="modal-dialog" role="document">
																							<div class="modal-content">
																								<div class="modal-header">
																									<h5 class="modal-title" id="SuppService">Supprimer le service</h5>
																									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																										<span aria-hidden="true">&times;</span>
																									</button>
																								</div>
																								<div class="modal-body">
																									<p>Cette action supprimera le service ainsi</p>
																									<p>que les habilitations associées à ce service</p>
																									<p>Souhaitez-vous effectuer cette action ?
																									</p>
																								</div>
																								<div class="modal-footer">
																									<button type="button" class="btn btn-outline-danger purgeB" data-dismiss="modal">Non</button>
																									<input type="submit" id="SupprimerService" class="btn btn-outline-primary purgeB" name="SupprimerService" value="Oui">
																								</div>
																							</div>
																						</div>
																					</div>
																	
																					<tr class="row14">
																						<td class="column0" colspan="9"></td>
																					</tr>
																					<tr class="row15">
																						<td class="column0" colspan="9"></td>
																					</tr>
																					<tr class="row16">
																						<td class="column0"></td>
																						<td class="column1"></td>
																						<td class="column2"></td>
																						<td class="column3"></td>
																						<td class="column4"></td>
																						<td class="column5"></td>
																						<td class="column6"></td>
																						<td class="column7"></td>
																						<td class="column8"></td>
																						<td class="column9"></td>
																						<td class="column10"></td>
																					</tr>
																					<tr class="row17">
																						<td class="column0"></td>
																						<td class="column1"></td>
																						<td class="column2"></td>
																						<td class="column3"></td>
																						<td class="column4"></td>
																						<td class="column5"></td>
																						<td class="column6"></td>
																						<td class="column7"></td>
																						<td class="column8"></td>
																						<td class="column9"></td>
																						<td class="column10"></td>
																					</tr> #}
</tbody></table><a class="btn btn-outline-danger  btn-lg" href="{{ path('rh.gestion') }}" role="button">Retour</a></center>{{ form_end(form)}}{% endblock %}
