{% extends 'base.html.twig' %}

{% block title %}Hello AgentController!
{% endblock %}

{% block body %}
	<style>
		@page {
			margin: 0.31496062992126in 0.39370078740157in 0.23622047244094in;
		}
		body {
			margin: 0.31496062992126in 0.39370078740157in 0.23622047244094in;
		}
	</style>
	<center>
		<table border="0" cellpadding="0" cellspacing="0" id="sheet0" class="sheet0">
			<col class="col0">
			<col class="col1">
			<col class="col2">
			<col class="col3">
			<col class="col4">
			<col class="col5">
			<col class="col6">
			<col class="col7">
			<col class="col8">
			<col class="col9">
			<col class="col10">
			<tbody>
				<tr class="row0">
					<td class="column0 style1 null"></td>
					<td class="column1 style65 s style65" colspan="9">GESTION DES HABILITATIONS ET DES PROFILS</td>
					<td class="column10">&nbsp;</td>
				</tr>
				<tr class="row1">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
				<tr class="row2">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
				<tr class="row3">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
				<tr class="row4">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
				<tr class="row5">
					<td class="column0"></td>
					<td class="column1 ModifT" colspan="4">
						<a href="{{ path('agent.ajouter') }}"><img class="Menu" src="{{ asset('img/Users.png') }}" width="100" height="100" title="Gestion habilitations"/></a><br/>
						Ajouter un agent
					</td>
					<td class="column2 ModifT" colspan="4">
						<a href="{{ path('agent.modifier') }}"><img class="Menu" src="{{ asset('img/Users.png') }}" width="100" height="100" title="Gestion habilitations"/></a><br/>
						Modifier un agent
					</td>
					<td class="column3 ModifT" colspan="3">
						<a href="{{ path('agent.supprimer') }}"><img class="Menu" src="{{ asset('img/Users.png') }}" width="100" height="100" title="Gestion habilitations"/></a><br/>
						Supprimer un agent
					</td>
				</tr>
				<tr class="row6">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
				<tr class="row7">
					<td class="column0"></td>
					<td class="column1 ModifT" colspan="4">
						<a href="{{ path('rh.hab.ajout') }}"><img class="Menu" src="{{ asset('img/Users.png') }}" width="100" height="100" title="Gestion habilitations"/></a><br/>
						Ajouter une habilitation
					</td>
					<td class="column2 ModifT" colspan="4">
						<a href="suppHabilitation.php?id='0'&idr='0'&ids='0'"><img class="Menu" src="{{ asset('img/Users.png') }}" width="100" height="100" title="Gestion habilitations"/></a><br/>
						Supprimer une habilitation
					</td>
					<td class="column3 ModifT" colspan="3">
						<a href="{{ path('rh.service.ajout') }}"><img class="Menu" src="{{ asset('img/Users.png') }}" width="100" height="100" title="Gestion habilitations"/></a><br/>
						Ajouter / supprimer un service
					</td>
				</tr>
				<tr class="row8">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
				<tr class="row9">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
				<tr class="row10">
					<td class="column0"></td>
					<td class="column1"></td>
					<td class="column2"></td>
					<td class="column3"></td>
					<td class="column4"></td>
					<td class="column5"></td>
					<td class="column6"></td>
					<td class="column7"></td>
					<td class="column8"></td>
					<td class="column9"></td>
					<td class="column10"></td>
				</tr>
			</tbody>
		</table>
		{# <input type="button" name="Retour" id="ButtonModifTech" class="btn btn-outline-danger" value="Retour" onclick="javascript:location.href='menuRh.php'"/> #}
		<a class="btn btn-outline-danger  btn-lg" href="{{ path('rh.menu') }}" role="button">Retour</a>
	</center>

{% endblock %}
