{% extends 'base.html.twig' %}
{% block body %}

	<style>
		@page {
			margin: 0.31496062992126in 0.39370078740157in 0.23622047244094in;
		}
		body {
			margin: 0.31496062992126in 0.39370078740157in 0.23622047244094in;
		}
	</style>
	<center>
		<!-- Verification role de l'agent -->
		{% if app.user.profil.id == 4 %}
			<table border="0" cellpadding="0" cellspacing="0" id="sheet0" class="sheet0">
				<col class="col0">
				<col class="col1">
				<col class="col2">
				<col class="col3">
				<col class="col4">
				<col class="col5">
				<col class="col6">
				<col class="col7">
				<col class="col8">
				<col class="col9">
				<col class="col10">
				<tbody>
					<tr class="row0">
						<td class="column0 style1 null"></td>
						<td class="column1 style65 s style65" colspan="9">MENU RESSOURCES HUMAINES</td>
						<td id="VersionMenu" class="column10">V2.4</td>
					</tr>
					<tr class="row1">
						<td class="column0"></td>
						<td class="column1"></td>
						<td class="column2"></td>
						<td class="column3"></td>
						<td class="column4"></td>
						<td class="column5"></td>
						<td class="column6"></td>
						<td class="column7"></td>
						<td class="column8"></td>
						<td class="column9"></td>
						<td class="column10"></td>
					</tr>
					<tr class="row2">
						<td class="column0"></td>
						<td class="column1"></td>
						<td class="column2"></td>
						<td class="column3"></td>
						<td class="column4"></td>
						<td class="column5"></td>
						<td class="column6"></td>
						<td class="column7"></td>
						<td class="column8"></td>
						<td class="column9"></td>
						<td class="column10"></td>
					</tr>
					<tr class="row3">
						<td class="column0"></td>
						<td class="column1"></td>
						<td class="column2"></td>
						<td class="column3"></td>
						<td class="column4"></td>
						<td class="column5"></td>
						<td class="column6"></td>
						<td class="column7"></td>
						<td class="column8"></td>
						<td class="column9"></td>
						<td class="column10"></td>
					</tr>
					<tr class="row4">
						<td class="column0"></td>
						<td class="column1"></td>
						<td class="column2"></td>
						<td class="column3"></td>
						<td class="column4"></td>
						<td class="column5"></td>
						<td class="column6"></td>
						<td class="column7"></td>
						<td class="column8"></td>
						<td class="column9"></td>
						<td class="column10"></td>
					</tr>
					<tr class="row5">
						<td class="column0"></td>
						<td class="column1 ModifT" colspan="4">
							<a href="modifTech.php"><img class="MenuRH2" src="{{asset('img/Modif.png')}}" height="100" width="100"/></a><br/>
							Modification des paramètres techniques</td>

						<td class="column2 ModifT" colspan="4">
							<a href="modifSpe.php"><img class="MenuRH2" src="{{asset('img/Modif.png')}}" height="100" width="100"/></a><br/>Modification des paramètres

							<br/>
							fonctionnels</td>
						<td class="column3 ModifT" colspan="3">
							<a href="{{path('rh.gestion')}}"><img class="MenuRH2" src="{{asset('img/Users.png')}}" width="100" height="100"/></a><br/>Gestion des habilitations
							<br/>et des profils</td>
					</tr>
					<tr class="row6">
						<td class="column0"></td>
						<td class="column1"></td>
						<td class="column2"></td>
						<td class="column3"></td>
						<td class="column4"></td>
						<td class="column5"></td>
						<td class="column6"></td>
						<td class="column7"></td>
						<td class="column8"></td>
						<td class="column9"></td>
						<td class="column10"></td>
					</tr>
					<tr class="row7">
						<td class="column0"></td>
						<td class="column1 ModifT" colspan="4">
							<a href="listeDemandeRH.php"><img class="MenuRH2" src="{{asset('img/Liste.png')}}" width="100" height="100"/></a><br/>Liste des demandes</td>
						<td class="column2 ModifT" colspan="4">
							<a href="impression.php?id=1&Serv='0'"><img class="MenuRH2" src="{{asset('img/Liste.png')}}" width="100" height="100"/></a><br/>Impression d’une demande</td>
						<td class="column3 ModifT" colspan="3">
							<a href="rechercheD.php?id=1&num=4&Serv='0'&Stat='0'"><img class="MenuRH2" src="{{asset('img/Loupe.png')}}" width="100" height="100"/></a><br/>Recherche</td>
					</tr>
					<tr class="row8">
						<td class="column0"></td>
						<td class="column1"></td>
						<td class="column2"></td>
						<td class="column3"></td>
						<td class="column4"></td>
						<td class="column5"></td>
						<td class="column6"></td>
						<td class="column7"></td>
						<td class="column8"></td>
						<td class="column9"></td>
						<td class="column10"></td>
					</tr>
					<tr class="row9">
						<td class="column0"></td>
						<td class="column1 ModifT" colspan="4">
							<a href="abandonRh.php?num=1&id=1&Serv='0'"><img class="MenuRH2" src="{{asset('img/creation.png')}}" width="100" height="100"/></a><br/>Refus d’une demande</td>
						<td class="column2 ModifT" colspan="4">
							<a href="abandonRh.php?num=2&id=1&Serv='0'"><img class="MenuRH2" src="{{asset('img/creation.png')}}" width="100" height="100"/></a><br/>Abandon d’une demande</td>
						<td class="column3 ModifT" colspan="3">
							<a href="{{path('agent.menu')}}"><img class="MenuRH2" src="{{asset('img/creation.png')}}" width="100" height="100"/></a><br/>Menu Agent</td>
					</tr>
					<tr class="row10">
						<td class="column0"></td>
						<td class="column1"></td>
						<td class="column2"></td>
						<td class="column3"></td>
						<td class="column4"></td>
						<td class="column5"></td>
						<td class="column6"></td>
						<td class="column7"></td>
						<td class="column8"></td>
						<td class="column9"></td>
						<td class="column10"></td>
					</tr>
					<tr class="row11">
						<td class="column0"></td>
						<td class="column1 ModifT" colspan="4">
							<a href="ListeRhStats.php"><img class="Menu" src="{{asset('img/statistiques.png')}}" width="100" height="100" title="Statistiques"/></a><br/>Statistiques</td>
						<td class="column2 ModifT" colspan="4">
							<a href="historique_presence.php?serv=4"><img class="MenuRH2" src="{{asset('img/Loupe.png')}}" width="100" height="100"/></a><br/>Historique des présences</td>
						<td class="column3 ModifT" colspan="3">
							<a href="liste_presenceR.php?serv=4"><img class="MenuRH2" src="{{asset('img/creation.png')}}" width="100" height="100"/></a><br/>Feuilles de présence
							<br/>en attente de validation</td>

					</tr>
				</tbody>
			</table>
		{%	else %}
			{{ path('menu') }}
		{% endif %}
	</center><br><br><br>
{% endblock %}
